.header__container {
  background-color: rgb(62, 70, 70);
  min-height: 150px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav-list {
  margin: 0;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.nav-link {
  display: block;
  color: rgb(233, 126, 26);
  font-size: 32px;
  text-decoration: none;
  transition: 1s;
}
.nav-link:hover {
  transform: scale(1.2);
  color: rgb(184, 204, 236);
  text-shadow: #fc0 1px 0 10px;
}
@media (max-width: 1030px) {
  .nav-link {
    font-size: 20px;
  }
  
}
@media (max-width: 730px){
  .nav-list{
    display: flex;
    flex-direction: column;
   
  }
}