.contacts__container{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 border-bottom: dotted 5px rgb(212 199 19 / 88%);
}
.contacts__title{
  color:white;
  font-size: 50px;
  align-self: center;
  margin: 0;
}
.contacts__list{
  list-style-type: none;
  margin: 20px;
  color:white;
  font-size: 32px;
}
.contacts__items {
 margin: 20px;
  padding-bottom: 20px;
  position: relative;
}
.contacts__img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: -50px;
  object-fit: cover;
}
.contacts__span{
  color:  rgb(212 199 19 / 88%);
}
@media (max-width: 730px){
  .contacts__title{
    font-size: 32px;
  }
  .contacts__items{
    font-size: 20px;
  }
}
