.summary__container{
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  border-bottom: dotted 5px rgb(212 199 19 / 88%);
   
}
.summary__title{
  align-self:center;
  margin: 0;
  color: white;
  font-size: 50px;
  display: block;
}
.summary__subtitle{
  margin: 0;
  display: block;
  max-width: 400px;
  color: white;
  font-size: 20px;
}
@media (max-width: 730px){
  .summary__container{
   padding-top: 0;
   
  }
  .summary__title{
    font-size: 32px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .summary__subtitle{
    font-size: 20px;
  }
}
